* {
  margin: 0;
  padding: 0;
}

:root {
  --negro: #0c0d14;
  --icons: #878a9e;
  --blanco: #fefefe;
  --gris_claro: #e3e3e3;
  --gris_oscuro: #373952;
  --acento: #ffd700;
  --primario: #064785;
  --primario-c1: #007cf2;
  --primario-c2: #007cf2;
  --primario-c3: #8ebeec;
  --primario-o1: #04396c;
  --primario-o2: #02294e;
  --primario-o3: #011b34;
  --secundario: #cc0174;
  --secundario-c1: #e94da5;
  --secundario-c3: #f8a7d5;
  --secundario-o1: #900554;
  --secundario-o2: #570031;
  --secundario-o3: #2b071b;

  --body: 16px bolder, Arial, roboto;
  --h1: 24px bolder;
  --h2: 22px bolder;
  --h3: 20px bold;
  --textoBotones: 14px bold;
  --bodyMobile: 8px bolder, Arial, roboto;
  --interletrado: 1px;
}
ul {
  list-style: none;
}
body {
  margin: 0;

  background-color: var(--negro);
  font: var(--bodyMobile);
  color: white;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: var(--primario);
}

.header-nav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.header .logo-container {
  margin: 0;
}
.header .logo-container img {
  width: 45px;
  height: 50px;
}

.user-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-top: 5px;
  padding-right: 15px;
}
.user-container img {
  height: 45px;
  width: 45px;
  border-radius: 50px;
}
.menu-container img {
  width: 30px;
  height: 30px;
  transform: rotate(180deg);
}
.logomenu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 5px 20px 5px 20px;
}

.search {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.buscador input {
  border-radius: 20px;
  background-color: transparent;
  border: none;
  margin-left: 10px;
}

.buscador input:focus {
  border: none;
}

.buscador {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border-radius: 20px;
  background-color: var(--gris_oscuro);
  padding: 5px;
}
.footer {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.footer .div1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 10px;
}
.footer .div1 .redes {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
.footer .div1 .redes li img {
  height: 30px;
  width: 30px;
}
.div2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.flags {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.flags li img {
  height: 20px;
  width: 20px;
}

.nav-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.column {
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 5px;
}
.games {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.carruselContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  overflow: hidden;
}
.games .carrusel {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  overflow: scroll;
}
.card {
  height: 100px;
  width: 150px;
  display: flex;
  flex-direction: column;
  font: var(--bodyMobile);
}
.imgContainer {
  height: 70%;
  width: 100%;
}
.imgContainer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.infoContainer {
  height: 30%;
  display: flex;
  justify-content: space-between;
  background-color: var(--primario);
}
.infoContainer img {
  height: 18px;
}
.infoContainer p {
  margin: 10px;
  letter-spacing: var(--interletrado);
  text-transform: upperCase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 60px;
}
.adquirido {
  height: 40px;
  width: 90px;
}

.botonContainer {
  background-color: var(--primario-c1);
  cursor: pointer;
  display: flex;
  height: 22px;
  width: 32px;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  margin: 5px;
}
.disable {
  background-color: var(--primario-c3);
}
